* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: #f3f2ee;
}

#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
}

#job-details-wrapper {
    width: 100%;
    border: 1px solid #ddd;
    padding: 24px;
    margin-bottom: 20px;
    margin-top: 75px;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 40rem;
    /* margin: 0 auto; */
}
/* .company-profile h2, .job-details h2, .application-status h2 {
    margin-bottom: 10px;
} */

.company-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.company-profile img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.job-details h2 {
    font-size: 24px;
    margin-bottom: 6px;
}

.job-details p {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}
.job-title-status {
    display: flex;
    gap: 0.5rem;
}
.open-label{
    background-color: #28a745;
    color: white;
    font-weight: 700;
    padding: 0.35rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    height: min-content;
}
.closed-label{
    background-color: #dc3545;
    color: white;
    font-weight: 700;
    padding: 0.35rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    height: min-content;
}

.job-description {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 20px;
}
.job-type p {
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.job-type img.icon {
    color: #999;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.job-description {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.job-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.apply-button-action {
    margin-top: 20px;
    gap: 0.5rem;
    display: flex;
}

/* 
.apply-button {
    width: 20%;
    background-color: #0073b1;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #005f8b;
} */

.apply-closed {
    color: #cc112e;
    display: flex;
    align-items: center;
}

.apply-closed p {
    margin-left: 5px;
}

.button {
    background-color: #0b66c3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.button:hover {
    background-color: #084b99;
    cursor: pointer;
}
.button:active {
    background-color: #053164;
    cursor: pointer;
}


.add-button {
    background-color: #2cca0c;
}
.add-button:hover {
    background-color: #1a8a06;
}
.add-button:active {
    background-color: #0f5e03;
}
.close-button {
    background-color: transparent;
    color: #ca0f0c;
    border: 1px solid #ca0f0c;
}
.close-button:hover {
    background-color: #a20c0a;
    color: white;
}
.close-button:active {
    background-color: #6e0a08;
    color: white;
}
.open-button {
    background-color: #28a745;
}
.open-button:hover {
    background-color: #1f8a06;
}
.open-button:active {
    background-color: #0f5e03;
}
.delete-button {
    background-color: #dc3545;
}
.delete-button:hover {
    background-color: #a20c0a;
}
.delete-button:active {
    background-color: #6e0a08;
}

#application-status {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#application-status h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#application-status ul {
    list-style-type: none;
    padding: 0;
}

#application-status li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-attachment {
    background-color: #0073b1;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-attachment:hover {
    background-color: #005b8f;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); /* Dimmed background */
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 744px;
    border-radius: 10px;
}
.modal-content h2 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #000000E6;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* .button {
    padding: 10px 20px;
    background-color: #0073b1;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #005582;
} */
.form-group {
    margin-bottom: 30px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000000E6;
}
.form-group label span {
    color: #666;
    font-size: 12px;
}
.form-group input[type="file"] {
    display: none; /* Hide the actual file input */
}
.upload-box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-radius: 10px;
    /* padding: 10px; */
    background-color: #f1f1f1;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.upload-box .file-type {
    display: flex;
    align-items: center;
    background-color: #cc112e;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 8px;
}
.upload-box .file-type.mp4 {
    background-color: #0073b1;
}
.upload-box span {
    color: #000000E6;
    margin-left: 20px;
    font-size: 14px;
}
.replace-btn {
    border:  2px solid #0A66C2;
    background-color: #ffffff;
    color: #0A66C2;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.error-message {
    color: #cc112e;
    font-size: 14px;
    margin-top: 5px;
    display: none;
    white-space: nowrap;
}

.replace-btn:hover {
    background-color: #e0eeff;
}

.submit-button {
    text-align: end;
}

.full-width-child-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.outline-button {
    color: #0a66c2;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    background: none;

    border-radius: 10rem;
    border: 2px solid #0a66c2;
}
.outline-button:hover {
    background: #0a66c2;
    color: white;
}
.outline-button:active {
    border: 2px solid #054a8f;
    background: #054a8f;
    color: white;
}

/* mobile devices */
@media (max-width: 768px) {
    .modal-content{
        width: 100%;
    }
}