
.form__input {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 3rem;
}
.form__input>label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin: 0;
    transition: .2s all;
    z-index: 50;
    pointer-events: none;
    padding: 0.6rem 0 0.8rem 0.7rem;
}

.form__input>input {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 0.9rem;
    height: 100%;
    padding: 0.6rem 0 0 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.form__input>input:hover {
    background-color: rgba(29, 104, 255, 0.05);
}
.form__input>input:focus{
    background-color: rgba(23, 131, 255, 0.05);
    border: 1px solid #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
}
.form__input>textarea{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 1rem;
    height: 100%;
    padding: 0.6rem 0 0 0.6rem;
    resize: vertical;
}
.form__input label.required:after {
    content: '*';
    color: #0073b1;
    margin-left: 2px
}
.form__input>input:focus+label, .form__input>input:valid+label, .form__input>input:active+label  {
    translate: 0 -13px;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}



.filter-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.filter-sort-container input,
.filter-sort-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}


.job-description-container {
    margin-top: 1rem;
    font-size: 0.8rem;
}
.job-description-container h2 {
    margin-bottom: 0.1rem;
}
