header {
    /* background: linear-gradient(rgba(8, 32, 69, 0.9),rgba(0, 0, 0, 0)); */
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    /* color: #fff; */
    /* padding: 10px 0; */
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-top: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center;
    align-self: center; */
    /* margin: 0 50px;
    padding: 0 24px; */
    width: 70vw;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}


nav ul li a {
    display: flex;
    flex-direction: column;
    color: #00000099;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a img {
    border-radius: 25px;
    height: 24px;
}

.logo img {
    width: 41px;
    height: 41px;
}

/* Tombol Join Now dan Sign In */
nav ul li a.btn-join-now,
nav ul li a.btn-sign-in {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #00000099;
}

nav ul li a.btn-sign-in {
    border: 1px solid #0073b1;
    border-radius: 24px;
    color: #0966c3;
}

nav ul li.active a {
    color: #0073b1;
}



@keyframes lineWidthIncreasing {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
nav ul li.active a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0073b1;
    margin-top: 5px;
    animation: 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0s 1 lineWidthIncreasing;
}



.nav-item>a {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 4.5rem;
}
.nav-item>a:hover {
    color: black;
}

.nav-item svg {
    width: 100%;
    height: 100%;
    max-height: 1.65rem;
}


/* Responsive Navbar */
@media (max-width: 768px) {

    nav {
        width: 100vw;
    }

    nav ul {
        gap: 0;
        padding-inline: 0;
    }

    .nav-item img {
        margin-top: 4px;
    }

    nav ul li a span {
        display: none;
    }

    /* button */
    nav ul li a.btn-join-now,
    nav ul li a.btn-sign-in {
        min-width: max-content;
        font-size: 16px;
        padding: 4px 8px;
    }

    .logo {
        margin-left: 8px;
    }
}