header {
    /* background: linear-gradient(rgba(8, 32, 69, 0.9),rgba(0, 0, 0, 0)); */
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    /* color: #fff; */
    /* padding: 10px 0; */
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-block: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center;
    align-self: center; */
    /* margin: 0 50px;
    padding: 0 24px; */
    /* max-width: 50rem; */
    width: 100%;
    max-width: 68vw;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}


nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00000099;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.logo img {
    width: 41px;
    height: 41px;
}

/* Tombol Join Now dan Sign In */
nav ul li a.btn-join-now,
nav ul li a.btn-sign-in {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #00000099;
    width: max-content;
}

nav ul li a.btn-sign-in {
    border: 1px solid #0b66c3;
    border-radius: 24px;
    color: #0966c3;
}

nav ul li a.btn-sign-in:hover {
    color: #fff;
    background-color: #0b66c3;
    /* make smooth hover transition */
    transition: background-color 0.3s ease;
}

nav ul li.active a {
    color: #0b66c3;
}



@keyframes lineWidthIncreasing {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
nav ul li.active a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0073b1;
    margin-top: 5px;
    animation: 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0s 1 lineWidthIncreasing;
}



.nav-item>a {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 80px;
}
.nav-item>a:hover {
    color: black;
}

.nav-item svg {
    width: 100%;
    height: 100%;
    max-height: 1.65rem;
}

.filter-group label {
    cursor: pointer;
}
.filter-group input[type="radio"], .filter-group input[type="checkbox"] {
    transform: translateY(1px);
}



#search-input {
    outline: none;
}
#search-input:hover {
    background-color: rgba(29, 104, 255, 0.05);
}
#search-input:focus {
    background-color: rgba(23, 131, 255, 0.05);
    border: 1px solid #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
}


/* Responsive Navbar */
@media (max-width: 768px) {

    nav {
        width: 100vw;
        max-width: 100%;
    }

    nav ul {
        gap: 0;
        padding-inline: 0;
    }

    .nav-item img {
        margin-top: 4px;
    }

    nav ul li a span {
        display: none;
    }

    /* button */
    nav ul li a.btn-join-now,
    nav ul li a.btn-sign-in {
        min-width: max-content;
        font-size: 16px;
        padding: 4px 8px;
        margin-right: 8px;
    }

    .logo {
        margin-left: 8px;
    }
}