* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
}


/* main {
    width: 100%;
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding-top: 75px;
} */
/* Profile Section */

main {
    width: 100%;
    max-width: 60rem;
    padding-top: 75px;
}
body {
    background-color: #f3f2ee;
}

#profile {
    background-color: #fff;
    gap: 20px;
    margin: 0 2rem 2rem 2rem;
    border-radius: 10px;
    padding: 0 0 1rem 0;

}
.profile {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.profile-picture {
    height: 3rem;
    position: relative;
}
.profile-picture > div {
    position: absolute;
    width: 6rem;
    height: 6rem;
    translate: 0 -50%;
    margin-left: 1rem;
}

.profile-picture img {
    position: absolute;
    border-radius: 50%;
    border: 4px solid white;
}

.profile-info {
    padding-inline: 16px;
}

.profile-info h1 {
    font-size: 20px;
    margin-top: 10px;
}

.profile-info p {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
}

.icon-button {
    height: 2.4rem;
    width: 2.4rem;
    border: none; 
    border-radius: 5rem;
    cursor: pointer;
    background-color: #fff;
}
.icon-button>svg{
    padding: 0.5rem;
}
.icon-button:hover {
    background-color: #f3f2ee;
}
.edit-button {
    right: 0;
    position: absolute;
    margin: 1rem;
}

.close-button {
    width: 3rem;
    height: 3rem;
}
.close-button>svg{
    padding: 0.5rem;
}

.edit-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center ;
    z-index: 50;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.popup-content {
    background-color: white;
    padding: 2rem;
    color: black;
    opacity: 100%;
    z-index: 50;
    
    width: 100%;
    max-width: 24rem;
    margin: 1rem;
    border-radius: 1.4rem;
}
.popup-content>div {
    display: flex;
    justify-content: space-between;
}
.black-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 20%;
    background-color: black;
    z-index: 20;
    padding: 0;
    margin: 0;
}
.close-button {
    width: 2.4rem;
    height: 2.4rem;
    translate: 1rem -1rem;
}
.close-button>svg{
    scale: 1.2;
}

.show {
    visibility: visible;
    opacity: 100%;
}
.hide {
    visibility: hidden;
    opacity: 0;
}
.show>.popup-content{
    transition-duration: inherit;
    transition-timing-function: inherit;
    scale: 1;
}
.hide>.popup-content{
    transition-duration: inherit;
    transition-timing-function: inherit;
    scale: 0.5;
}


.logout-button-container {
    padding: 0rem 1rem;
    display: flex;
    justify-content: end;
}
.logout-button-container>.outline-button {
    width: 7rem;
}
.edit-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
}
.outline-button {
    width: 100%;
    color: #0a66c2;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    background: none;

    border-radius: 10rem;
    border: 2px solid #0a66c2;
}
.outline-button:hover {
    background: #0a66c2;
    color: white;
}
.outline-button:active {
    border: 2px solid #054a8f;
    background: #054a8f;
    color: white;
}


.profile-form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}



.form__input {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 3rem;
}
.form__input>label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin: 0;
    transition: .2s all;
    z-index: 50;
    pointer-events: none;
    padding: 0.6rem 0 0.6rem 0.7rem;
}

.form__input>input {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 0.9rem;
    height: 100%;
    padding: 0.6rem 0 0 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.form__input>input:hover {
    background-color: rgba(29, 104, 255, 0.05);
}
.form__input>input:focus{
    background-color: rgba(23, 131, 255, 0.05);
    border: 1px solid #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
}
.form__input>textarea{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 0.6rem;
    width: 100%;
    font-size: 1rem;
    height: 100%;
    padding: 0.6rem 0 0 0.6rem;
    resize: vertical;
}
.form__input label.required:after {
    content: '*';
    color: #0073b1;
    margin-left: 2px
}
.form__input>input:focus+label, .form__input>input:valid+label, .form__input>input:active+label  {
    translate: 0 -11px;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}
.role-title {
    font-size: 1rem;
    font-weight: 600;
    color: #888888;
}

/* Styling untuk mobile devices dengan lebar maksimal 768px (misal untuk ukuran smartphone) */
@media (max-width: 768px) {

    #profile {
        grid-column: 1;
        margin: 0 1rem 1rem 1rem;
    }

    .banner img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #main-content {
        grid-column: 1;
        margin-bottom: 20px;
        padding-inline: 5px;
    }

    .profile-info {
        padding-inline: 12px;
    }

    .profile-info h1 {
        font-size: 20px;
    }

    .profile-info p {
        font-size: 12px;
    }

}
