* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.toast-wrapper {
    position: relative;
    z-index: 50;
    text-size-adjust: none;
}

.toast-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 24em;
    margin: 1em;
    box-shadow: 0 4px 6px white;
}

.toast-bg {
    position: absolute;
    width: 100%;
    height: 5em;
    margin-right: 2em;
    border-radius: 1em;
    user-select: none;
}

.toast-progress-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 1.25em;
    overflow: hidden;
}

.toast-progress-error {
    height: 0.25em;
    background-color: #DC2626; 
}

.toast-progress-success {
    height: 0.25em;
    background-color: #16A34A;
}

.toast-progress-info {
    height: 0.25em;
    background-color: #F59E0B;
}
#toast-progress {
    transition-timing-function: linear;
}

.toast-close-button {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: white;
    transition: transform 0.3s ease-out;
    border: 0;
}

.toast-close-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f3f2f0;
}

.close-icon {
    width: 1.75em;
    height: 1.75em;
    z-index: 10;
}

.toast-content {
    background-color: white;
    border-radius: 1.25em;
    padding: 1.5em;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toast-content>h2 {
    font-size: 1.3em;
    text-size-adjust: none;
}

.toast-message-error {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: bold;
    color: #F87171;
}

.toast-message-success {
    margin-top: 0;
    margin-bottom: 0.75em;
    font-weight: bold;
    color: #34D399;
}

.toast-message-info {
    margin-top: 0;
    margin-bottom: 0.75em;
    font-weight: bold;
    color: #FBBF24;
}

.toast-description-wrapper {
    display: flex;
    gap: 0.75em;
}

.toast-description {
    font-weight: 600;
    font-size: 1em;
}
