.toast-wrapper {
    position: relative;
    z-index: 50;
}

.toast-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 28rem;
    margin: 1rem;
    box-shadow: 0 4px 6px white;
}

.toast-bg {
    position: absolute;
    width: 100%;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 1rem;
    user-select: none;
}

.toast-progress-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
}

.toast-progress-error {
    height: 0.25rem;
    background-color: #DC2626; 
    transition-timing-function: linear;
}

.toast-progress-success {
    height: 0.25rem;
    background-color: #16A34A;
    transition-timing-function: linear;
}

.toast-progress-info {
    height: 0.25rem;
    background-color: #F59E0B;
    transition-timing-function: linear;
}

.toast-close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    transition: transform 0.3s ease-out;
    border: 0;
}

.toast-close-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f3f2f0;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    z-index: 10;
}

.toast-content {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.5rem;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toast-content>h2 {
    font-size: 2rem;
}

.toast-message-error {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #F87171;
}

.toast-message-success {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #34D399;
}

.toast-message-info {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #FBBF24;
}

.toast-description-wrapper {
    display: flex;
    gap: 0.75rem;
}

.toast-description {
    font-weight: 600;
}
